@model StrategyGame.ViewModels.CountryDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Potato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Potato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gold)
        </dd>
        @foreach (var buildingType in Model.CountryBuildings)
        {
            <dt>
                @buildingType.Building.Type
            </dt>
            <dd>
                @buildingType.Count
            </dd>
        }
    </dl>
    @if (Model.BuildingProgressViewModel != null)
    {
        <h5>Construction under progress</h5>
        <dl>
            <dt>
                @Model.BuildingProgressViewModel.Building.Type
            </dt>
            <dd>
                Turns left: @Model.BuildingProgressViewModel.TurnsLeft
            </dd>
        </dl>
    }

    @if (Model.InnovationProgressViewModel != null)
    {
        <h5>Innovation under progress</h5>
        <dl>
            <dt>
                @Model.InnovationProgressViewModel.Innovation.Type
            </dt>
            <dd>
                Turns left: @Model.InnovationProgressViewModel.TurnsLeft
            </dd>
        </dl>
    }
    <h4>Units</h4>
    <hr />
    <h4>Defending units</h4>
    <table style="width:15%">
        <tr>
            @foreach (var unit in Model.CountryUnits)
            {
                if (unit.GroupingType == GroupingType.Defending)
                {
                    <td>
                        <table>
                            <tr>
                                <td>@unit.Unit.Type</td>
                            </tr>
                            <tr>
                                <td>@unit.Count</td>
                            </tr>
                        </table>
                    </td>
                }
            }
        </tr>
    </table>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                Defense Points:
            </dt>
            <dd>
                @Model.DefensePoint
            </dd>
        </dl>
    </div>
    @if (Model.BattleViewModel.Battles.Count != 0)
    {
        <hr />
        <h4>Battles</h4>
        foreach (var battle in Model.BattleViewModel.Battles)
        {
            <h5><b>@battle.DefendingCountry.Name</b></h5>
            <table style="width:10%">
                <tr>
                    @foreach (var attackingUnit in battle.AttackingCountryUnits)
                    {
                        <td>
                            <table>
                                <tr>
                                    <td>@attackingUnit.Unit.Type</td>
                                </tr>
                                <tr>
                                    <td>@attackingUnit.Count</td>
                                </tr>
                            </table>
                        </td>
                    }
                </tr>
            </table>
            <h5>Attack points: @battle.AttackPoints</h5>
        }
    }
    <hr />
    @if (Model.CountryInnovations.Count != 0)
    {
        <div>
            <h4>Innovations</h4>

            @foreach (var innovation in Model.CountryInnovations)
            {
                <h5>@innovation.Innovation.Type</h5>
            }

        </div>
        <hr />
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="AddUnit" asp-route-id="@Model.Id">Purchase unit</a> |
    <a asp-action="AddBuilding" asp-route-id="@Model.Id">Add building</a> |
    <a asp-action="AddInnovation" asp-route-id="@Model.Id">Add innovation</a> |
    <a asp-action="Attack" asp-route-id="@Model.Id">Attack</a>
</div>
