@model StrategyGame.ViewModels.GroupUnitViewModel

@{
    ViewData["Title"] = "GroupUnit";
}

<h2>
    Group unit
</h2>
<hr />
<div class="col-md-4">
    <h4>Units</h4>
    <hr />
    <div>
        <h5>Defending units: </h5>
        <table style="width:30%">
            @foreach (var unit in Model.CountryUnits)
            {
                if (unit.GroupingType == GroupingType.Defending)
                {
                    <tr>
                        <th>
                            @unit.Unit.Type
                        </th>
                        <td>
                            @unit.Count
                        </td>
                    </tr>
                }
            }
        </table>
        <h5>Attacking units: </h5>
        <table style="width:30%">
            @foreach (var unit in Model.CountryUnits)
            {
                if (unit.GroupingType == GroupingType.Attacking)
                {
                    <tr>
                        <th>
                            @unit.Unit.Type
                        </th>
                        <td>
                            @unit.Count
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <hr />
    <div>
        <form asp-controller="Country" asp-action="GroupingUnit">
            <select class="form-control" asp-for="UnitId" asp-items="@(new SelectList(Model.Units,"Id","Type"))">
                <option>--- Choose unit ---</option>
            </select>
            <input type="number" asp-for="Quantity" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
            <span asp-validation-for="UnitId" class="text-danger"></span>

            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.IsAttacking): 
                @Html.CheckBox("IsAttacking", true)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a asp-action="Details" asp-route-id=@Model.Id>Back to country</a>
            </div>
        </form>
    </div>
</div>
